<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static '/main1' %}"></script>
</head>
<body>
    <div class="welcome_page_container">
        <div class="page_container">
            <div class="display_flex">
                <h1 class="ninja">Registration</h1>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="errors">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/register" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" value = "{{request.session.first_name}}">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" class="form-control" id="last_name" value = "{{request.session.last_name}}">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control" id="email" value = "{{request.session.email}}">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" name="confirm_password" class="form-control" id="confirm_password">
                </div>
                <button class="btn btn-dark">Register</button>
                <button class="btn btn-dark">Back to login</button>
                <button class="btn btn-dark">Home</button>
            </form>
        </div>
    </div>
</body>
</html>